.card__favorites {
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  background-size: cover;
  margin-right: 5px;
}

.card__favorites:hover {
  opacity: 0.5;
}